/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/bebas-neue-v1-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
        url('fonts/bebas-neue-v1-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/bebas-neue-v1-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/bebas-neue-v1-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/bebas-neue-v1-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/bebas-neue-v1-latin-regular.svg#BebasNeue') format('svg');
    /* Legacy iOS */
}

/* abel-regular - latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/abel-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Abel Regular'), local('Abel-Regular'),
        url('fonts/abel-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/abel-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/abel-v10-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/abel-v10-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/abel-v10-latin-regular.svg#Abel') format('svg');
    /* Legacy iOS */
}

/* staatliches-regular - latin */
@font-face {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/staatliches-v3-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Staatliches Regular'), local('Staatliches-Regular'),
        url('fonts/staatliches-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/staatliches-v3-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/staatliches-v3-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/staatliches-v3-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/staatliches-v3-latin-regular.svg#Staatliches') format('svg');
    /* Legacy iOS */
}

/* architects-daughter-regular - latin */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/architects-daughter-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'),
        url('fonts/architects-daughter-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('fonts/architects-daughter-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/architects-daughter-v10-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('fonts/architects-daughter-v10-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/architects-daughter-v10-latin-regular.svg#ArchitectsDaughter') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: "BrandonGrotW01-Light";
    src: url("fonts/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("fonts/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix") format("embedded-opentype"), url("fonts/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"), url("fonts/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"), url("fonts/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"), url("fonts/6dd2f2510b4a00a5461b2455928209c2.svg#BrandonGrotW01-Light") format("svg");
}

/* .section {
    height: 100vh;
    width: 100%;
    position: relative;
} */

.image-thumbnail {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.navbar {
    background-color: #fff !important;
    max-height: 85px;
}

.main {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../assets/img/bg.jpg");

}

.hover_effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.portfolio_picture {
    position: relative;
    /* width: 50%; */
  }

.portfolio_picture:hover .overlay {
    opacity: 0.5;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.architectural_design_cover {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../assets/img/architectural_design/COVER.png");
}

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: right;
}

.circular--portrait {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* border-radius: 50%; */
    margin-bottom: 20px;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

.quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 30px;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.nav-link {
    font-size: 1em;
    font-weight: 500 !important;
    /* color: #fff !important; */
    margin-right: 10px;
    color: #2b2b2b !important;
}

.logo {
    font-family: 'BrandonGrotW01-Light';
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: #35373a !important;
}

.fp-controlArrow.fp-prev {
    /* border-color: transparent #000 transparent !important; */
    left: 100px !important;
}

.fp-controlArrow.fp-next {
    /* border-color: transparent #000 transparent !important; */
    right: 100px !important;
}

.carousel-control-prev-icon {
    color: #000;
}

.carousel-control-next-icon {
    color: #000;
}

.carousel-inner>.item {
    height: 400px;
}

.container {
    padding-top: 100px;
}


.bottom-margin {
    margin-bottom: 10px;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #ccc;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 4px;
    width: 0px;
    background: #111;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #111;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #999;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.radialProgressBar {
    border-radius: 50%;
    transform: translate(50%, 50%);
    width: 100px;
    height: 100px;
    display: flex;
    background: #ddd;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -15px;
    margin-left: -15px;
}

.radialProgressBar .overlay {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    background: #fff;
    text-align: center;
    padding-top: 30%;
}

.progress-0 {
    background-image: linear-gradient(90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-10 {
    background-image: linear-gradient(54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-20 {
    background-image: linear-gradient(18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-30 {
    background-image: linear-gradient(-18deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-40 {
    background-image: linear-gradient(-54deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-50 {
    background-image: linear-gradient(-90deg, #ddd 50%, transparent 50%), linear-gradient(90deg, #a1c4fd 50%, #ddd 50%);
}

.progress-60 {
    background-image: linear-gradient(90deg, #a1c4fd 50%, transparent 50%), linear-gradient(54deg, #a1c4fd 50%, #ddd 50%);
}

.progress-70 {
    background-image: linear-gradient(90deg, #a1c4fd 50%, transparent 50%), linear-gradient(18deg, #a1c4fd 50%, #ddd 50%);
}

.progress-80 {
    background-image: linear-gradient(90deg, #a1c4fd 50%, transparent 50%), linear-gradient(-18deg, #a1c4fd 50%, #ddd 50%);
}

.progress-90 {
    background-image: linear-gradient(90deg, #a1c4fd 50%, transparent 50%), linear-gradient(-54deg, #a1c4fd 50%, #ddd 50%);
}

.progress-100 {
    background-image: linear-gradient(90deg, #a1c4fd 50%, transparent 50%), linear-gradient(-90deg, #a1c4fd 50%, #ddd 50%);
}

p {
    font-family: 'Abel';
}

h1 {
    font-family: 'BrandonGrotW01-Light';
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}

h2 {
    font-family: 'Staatliches';
    font-size: 1.75rem;
}

h3 {
    font-family: 'Staatliches';
    font-size: 1.5rem;
}

h4 {
    font-family: 'Staatliches';
    font-size: 1.25rem;
    color: #a1c4fd;
}

h5 {
    font-family: 'Staatliches';
    font-size: 1rem;
}

#map {
    height: 100%;
}

#wrapper {
    position: relative;
}

#over_map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contact-container {
    background-color: #fff;
    padding: 2em;
}

.card {
    padding: 2em;
}

.navbar-toggler {
    margin-top: 10px !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        background: #fff !important;
        margin-left: -20px !important;
        margin-right: -20px !important;
        padding: 2em;
    }
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.tiles {
    width: 100%;
    height: auto;
  }
  .tiles .tile {
    display: inline-block;
    text-align: left;
    opacity: 0.99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  .tiles .tile:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }
  .tiles .tile img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .tiles .tile .details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
  .tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
  .tiles .tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
  }
  .tiles .tile .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
  .tiles .tile:focus:before,
  .tiles .tile:focus span, .tiles .tile:hover:before,
  .tiles .tile:hover span {
    opacity: 1;
  }
  .tiles .tile:focus:before, .tiles .tile:hover:before {
    top: 50%;
  }
  .tiles .tile:focus span, .tiles .tile:hover span {
    top: 0;
  }
  .tiles .tile:focus .title, .tiles .tile:hover .title {
    transition-delay: 0.15s;
  }
  .tiles .tile:focus .info, .tiles .tile:hover .info {
    transition-delay: 0.25s;
  }